<% list = %w[portrait, happy, laughing, face, hair, sunglassed] %>

<div class="movie-list" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @list.photo.key, height: 600, crop: :fill %>')">
  <div class="list-info">
    <h1 id="list-header"><%= @list.name %></h1>
    <%= link_to 'Add movie', new_list_bookmark_path(@list), class: "btn btn-primary" %>
  </div>

 <%= link_to edit_list_path(@list) do %>
  <i id="edit" class="far fa-edit"></i>
  <% end %>

  <%= link_to lists_path do %>
  <i id="back" class="fas fa-arrow-left"></i>
  <% end %>
</div>

<div class="container">
      <% @list.movies.each do |movie| %>
      <div class="my-card">
        <img src="<%= movie.poster_url%>" alt="" id="card-img">
        <div class="my-card-info">
          <p><strong><%= movie.title %></strong></p>
          <p><%= movie.overview %></p>
          <hr>
          <div class="comment">
            <img class="avatar" src=<%="https://source.unsplash.com/1600x900/?#{list.sample}" %> alt="">
            <p><%= @list.bookmarks.where(movie_id: movie.id).first.comment %></p>
          </div>
        </div>
        <div class="delete-icon">
          <%= link_to bookmark_path(@list.bookmarks.where(movie_id: movie.id).first), method: :delete do %>
            <i class="far fa-trash-alt"></i>
            <% end %>
        </div>
      </div>

      <% end  %>

</div>
